*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "sf-pro-text-medium";
  src: url("../fonts/sf-pro-text-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  background-color: #0038ff;
  cursor: pointer;
  color: #fff;
  padding: 15px 25px;
  border-radius: 40px;
  text-align: center;
  flex: 1;
  transition: all 0.3s;
}
button:hover {
  opacity: 0.8;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 16px;
  line-height: 19.2px;
  background-color: #000;
}

.container {
  max-width: 550px;
  margin: 0 auto;
}

.header {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: -1px;
  z-index: 999;
  width: 100%;
  height: 71px;
}
.header__inner {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header__left {
  cursor: pointer;
  margin-top: 23.5px;
  margin-bottom: 22.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left-img {
  width: 9px;
  height: 16.5px;
  margin: 3.75px 5.5px 3.75px 1.5px;
}
.header__left-span {
  margin: 4.5px 0 4.5px 6px;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 1;
}
.header__left-span::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-color: #0038ff;
  border-radius: 20px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
}
.header__info {
  margin-top: 17px;
  margin-bottom: 16px;
  cursor: pointer;
}
.header__info-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23.44px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.header__info-title::after {
  position: absolute;
  content: "";
  top: 45%;
  transform: translate(0, -50%);
  margin-left: 5px;
  background-image: url(../images/check\ icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}
.header__info-checkicon {
  display: block;
}
.header__info-subtitle {
  font-family: "sf-pro-text-medium";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6c768b;
  text-align: center;
}
.header__logo {
  cursor: pointer;
  margin-top: 17.5px;
  margin-bottom: 16.5px;
}
.header__logo-img {
  width: 36px;
  height: 36px;
  vertical-align: bottom;
}

.main {
  font-family: "Roboto", sans-serif;
}
.main__inner {
  background-image: url(../images/main-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 0 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 72px);
}
.main__date {
  width: 70px;
  height: 23px;
  background-color: rgba(108, 118, 139, 0.5019607843);
  border-radius: 20px;
  margin: 91px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__date-text {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #fff;
}
.main__message {
  padding: 6px 12px 0 12px;
  background-color: #d9e4ff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}
.main__message.--received {
  max-width: 315px;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 0.3s;
}
.main__message.--received .tail {
  position: absolute;
  content: "";
  left: -5px;
  bottom: 0;
}
.main__message.--sent {
  padding: 14px 28px 15px 24px;
  max-width: 315px;
  align-self: flex-end;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 0.3s;
}
.main__message.--sent .tail {
  position: absolute;
  content: "";
  right: -4px;
  bottom: 0;
  transform: rotateY(180deg);
}
.main__message.--show {
  opacity: 1;
  transform: translate(0, 0);
}
.main__message.long-margin {
  margin-bottom: 30px;
}
.main__message-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.main__message-text.bold {
  font-weight: 700;
}
.main__message-time {
  text-align: right;
  font-size: 11px;
  line-height: 13px;
  color: #8e8e93;
  padding-bottom: 6px;
}
.main__buttons {
  max-width: 315px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 0.3s;
}
.main__buttons.--show {
  opacity: 1;
  transform: translate(0, 0);
}
.main__buttons.triple {
  flex-direction: column;
}
.main__buttons.triple button {
  width: 100%;
}

.footer {
  font-family: "Roboto", sans-serif;
}
.footer__inner {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.footer__clip {
  padding: 15px 5px 25px 0;
}
.footer__clip svg {
  cursor: pointer;
}
.footer__form {
  width: 100%;
  margin: 10px 0 20px 0;
  background-color: #39393c;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__form-input {
  scrollbar-width: none;
  resize: none;
  outline: none;
  width: 100%;
  margin: 11px 0px 10px 15px;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
  bottom: 0;
}
.footer__form-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
}
.footer__form-input::placeholder {
  font-family: "Roboto", sans-serif;
}
.footer__form-sticker {
  margin: 10px 15px 10px 10px;
  cursor: pointer;
}
.footer__microphone {
  padding: 15px 0 25px 5px;
}
.footer__microphone svg {
  cursor: pointer;
}